body {
    background: rgb(176,253,255);
    background: linear-gradient(180deg, rgb(246, 255, 255) 0%, rgba(176,253,255,1) 20%, rgba(0,243,255,1) 40%, rgba(0,119,255,1) 40%, rgb(0, 0, 0) 100%);
    height: 200vh;
    width: 100vw;
}

.banner {
    margin-top: 10vh;
}


.background-center {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.round-button {
    border-radius: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.round-button:hover {
    cursor: pointer;
    
}

.red-hover:hover {
    background-color: #c22727;
    transition: 0.3s;
}

.pointer:hover {
    cursor: pointer;
}

.landing {
    height: 100vh;
    width: 100vw;
}

.create {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.small-text {   
    padding: 10px 10vw; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    color: rgb(184, 177, 168);
}

.big-text {
    padding: 10px 10vw; 
    text-align: left;
    line-height: 89%;
    font-size: 132px;
    letter-spacing: -2px;
    font-weight: 800;
    color: rgb(225, 218, 207);
}

.colab {
    margin-top: 5vh;
}

.flex {
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: "nunito";
    src: url('./assets/Nunito_Sans/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: "quicksand";
    src: url('./assets/Quicksand/Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: "dosis";
    src: url('./assets/Dosis/Dosis-VariableFont_wght.ttf');
}

@font-face {
    font-family: "assistant";
    src: url('./assets/Assistant/Assistant-VariableFont_wght.ttf');
}

@font-face {
    font-family: "abel";
    src: url('./assets/Abel/Abel-Regular.ttf');
}

.nunito {
    font-family: 'nunito';
}

.quicksand {
    font-family: 'quicksand';
}

.dosis {
    font-family: 'dosis';
}

.assistant {
    font-family: 'assistant';
}

.abel {
    font-family: 'abel';
}