body {
    background: rgb(176,253,255);
    background: linear-gradient(180deg, rgba(176,253,255,1) 0%, rgba(0,243,255,1) 51%, rgba(0,230,255,1) 51%, rgba(0,119,255,1) 100%);
    height: 100vh;
    width: 100vw;
}

.background-center {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
